[package]
name = "yash-builtin"
version = "0.1.0"
authors = ["WATANABE Yuki <magicant@wonderwand.net>"]
edition = "2021"
rust-version = "1.56.0"
description = "Implementation of the built-in utilities of yash"
# documentation = "https://yash.osdn.jp/doc/"
# readme = "README.md"
# homepage = "https://yash.osdn.jp/"
repository = "https://github.com/magicant/yash-rs"
license = "GPL-3.0-or-later"
# license-file = "../LICENSE"
keywords = ["posix", "shell"]
categories = ["command-line-utilities"]
publish = false

[dependencies]
annotate-snippets = "0.9.1"
async-trait = "0.1.50"
yash-env = { path = "../yash-env", version = "0.1.0" }
yash-quote = { path = "../yash-quote", version = "0.1.0" }
yash-syntax = { path = "../yash-syntax", version = "0.1.0" }

[dev-dependencies]
assert_matches = "1.5.0"
futures-util = "0.3.18"
futures-executor = "0.3.18"
