[package]
name = "yash-semantics"
version = "0.1.0"
authors = ["WATANABE Yuki <magicant@wonderwand.net>"]
edition = "2021"
rust-version = "1.67.0"
description = "Yash shell language semantics"
# documentation = "https://yash.osdn.jp/doc/"
# readme = "README.md"
# homepage = "https://yash.osdn.jp/"
repository = "https://github.com/magicant/yash-rs"
license = "GPL-3.0-or-later"
# license-file = "../LICENSE"
keywords = ["posix", "shell"]
categories = ["command-line-utilities"]
publish = false

[dependencies]
assert_matches = "1.5.0"
async-trait = "0.1.73"
itertools = "0.11.0"
thiserror = "1.0.47"
yash-arith = { path = "../yash-arith", version = "0.2.0" }
yash-env = { path = "../yash-env", version = "0.1.0" }
yash-fnmatch = { path = "../yash-fnmatch", version = "1.1.0" }
yash-quote = { path = "../yash-quote", version = "1.1.0" }
yash-syntax = { path = "../yash-syntax", version = "0.6.1" }

[dev-dependencies]
futures-executor = "0.3.28"
futures-util = "0.3.28"
