name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests (with annotate-snippets)
      run: cargo test --verbose
    - name: Run tests (without annotate-snippets)
      run: cargo test --verbose --package yash-syntax
    - name: Lint
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Check format
      run: cargo fmt -- --check
