name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        cargo build --verbose
        cargo build --verbose --no-default-features --package yash-env
    - name: Run tests
      run: cargo test --verbose
    - name: Lint
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Check format
      run: cargo fmt && git diff --exit-code
